[user]
  name = Tolu Adesegha
  email = tolu@adesegha.ca
  editor = nvim
	signingkey = F6BFD4906A0A76BD
[alias]
  a = add
  aa = add -A
  b = branch
  bd = branch -D
  bf = branch -f
  c = commit --no-verify
  ca = commit -a --amend --no-edit --no-verify
  cm = commit -a --no-verify -m
  d = diff
  f = fetch
  fo = fetch origin
  l = log
  m = merge
  ms = merge --squash
  o = checkout
  ob = checkout -b
  pl = pull
  ps = push
  rh = reset --hard
  rs = reset
  rv = revert
  s = status
  sw = switch
[gpg]
	program = gpg2
[pull]
	rebase = true
[advice]
  detachedHead = false
